{% extends 'shortener/base.html'%}
{% block content%}
<body>
  <div class="container">
    <div class = "row">
      <div class='text-center col-sm-12'>
        <br>
        <h1 class="cover-heading">Sega | The URL Shortener</h1>
        <br>
        <form  action="." method="post">
            {% csrf_token%}
            {{ form.as_p }}
            <a href='/'>
            <input class= "btn btn-lg btn-secondary" type="submit"  value="Shorten">
          </a>
        </form>
      </div>
    </div>
  </div>
</body>
</html>
{% endblock content %}
